html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    background-color: #F0F0F0;
}

.container img {
    max-width: 100%; 
    height: auto; 
}

.post-container {
    padding: 20px;
    margin-bottom: 20px;
}

.aside {
    margin-bottom: 20px;
}

