html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    background-color: #F0F0F0;
}

.container img {
    max-width: 100%; 
    height: auto; 
}

.post-container {
    padding: 20px;
    margin-bottom: 20px;
}

#scroll_top {
	display: none;
	position: fixed;
	top: 5%;
	right: 3%;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(/static/img/page/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.5;
}
#scroll_top:hover {
 	opacity: 1;
}

#scroll_bottom {
	position: fixed;
	bottom: 5%;
	right: 3%;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(/static/img/page/scroll_bottom.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.5;
}
#scroll_bottom:hover {
 	opacity: 1;
}