{% if posts_paginator.has_other_pages %}
  <nav aria-label="Page navigation" class="my-5 d-flex justify-content-center">
    <ul class="pagination">
      {% if posts_paginator.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1{% if get_paginator %}{{ get_paginator }}{% endif %}">Первая</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ posts_paginator.previous_page_number }}{% if get_paginator %}{{ get_paginator }}{% endif %}">
            Предыдущая
          </a>
        </li>
      {% endif %}
      {% for i in posts_paginator.paginator.page_range %}
        {% if posts_paginator.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}{% if get_paginator %}{{ get_paginator }}{% endif %}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if posts_paginator.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts_paginator.next_page_number }}{% if get_paginator %}{{ get_paginator }}{% endif %}">
            Следующая
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ posts_paginator.paginator.num_pages }}{% if get_paginator %}{{ get_paginator }}{% endif %}">
            Последняя
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}