{% extends "base.html" %}
{% block title %}Об проекте{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Об авторе</h1>
    <br>
    <h3>Обо мне</h3>
    <p>Меня зовут Денис Шахбазян. Я студент пятой кагорты курса "Python plus" от Яндекс Практикума.<br>
      Начать учиться программировать меня заставила давняя мечта.
      Еще с самого начала университета я хотел стать крутым программистом, ходить на свою любимую работу, и
      заниматься любимым делом.
      И только повзрослев и осмелев, я решил начать менять свою жизнь.<br>
      Как-то так я начал изучать программирование.
    </p>
    <h3>Ссылки</h3>
    <p>Мой GitHub - <a href="https://github.com/DenisShahbazyan/">ТыК</a></p>
  </div>
{% endblock %}