<label for="select-tags">Выбор тегов:</label>
<form id="filter-form" method="get" action="{% url 'blog:index' %}">
  <div class="row">
    <div class="col-12 col-md-11 d-flex align-items-center">
      <select id="select-tags" class="form-control form-select form-control-lg" name="tags" multiple>
        <option value="without">Без тега</option>
        {% for tag in tags %}
          <option value="{{ tag.slug }}">{{ tag }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12 col-md-1">
      <div class="d-flex justify-content-end align-items-center">
        <input type="submit" class="btn btn-outline-primary" value="Фильтр">
      </div>
    </div>
  </div>
</form>
<br>
<script type="text/javascript">
  $(document).ready(function () {
      var queryParams = new URLSearchParams(window.location.search);
      var searchForm = $('#filter-form');

      queryParams.forEach(function (value, key) {
        if (key !== 'tags') {
            searchForm.append('<input type="hidden" name="' + key + '" value="' + value + '">');
        }
    });
  });
</script>