<nav>
  {% with view_name=request.resolver_match.view_name tag_slug=request.resolver_match.kwargs.slug %}
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <span class="nav-link text-dark" >Теги:&nbsp;</span>
      <a class="nav-link {% if view_name  == 'blog:index' %}active{% endif %}" href="{% url 'blog:index' %}" type="button">Все</a>
      <a class="nav-link {% if view_name  == 'blog:tag_without' %}active{% endif %}" href="{% url 'blog:tag_without' %}" type="button">Без тега</a>
      {% for tag in tags %}
        <a class="nav-link {% if tag_slug and tag_slug == tag.slug %}active{% endif %}" href="{% url 'blog:tag' tag.slug %}" type="button">{{ tag }}</a>
      {% endfor %}
      <br>
    </div>
  {% endwith %}
</nav>