{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if is_edit %}
    Редактировать пост {{ post.text|striptags|truncatewords:10 }}
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">

    <h2>{% if is_edit %}Редактирование поста{% else %}Новый пост{% endif %}</h2>

    <form method="post" action="{% if is_edit %}{% url 'blog:post_edit' post.id %}{% else %}{% url 'blog:post_create' %}{% endif %}" enctype="multipart/form-data">
      {% csrf_token %}

      <label title="{{ form.text.help_text }}" for="{{ form.text.id_for_label }}">
        {{form.text.label}}
      </label>
      <div class="form-group row my-2 ">
        {{ form.media }}
        {{ form.text }}
      </div>

      <hr>

      <label title="{{ form.tags.help_text }}" for="{{ form.tags.id_for_label }}">
        {{form.tags.label}}
      </label>
      <div class="form-group row my-2 p-3 bg-white card">
        {{ form.tags }}
      </div>

      <div class="form-group row d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
          {% if is_edit %}Редактировать пост{% else %}Сохранить пост{% endif %}
        </button>
      </div>

    </form>

  </div>
  <script src="{% static 'js/ckeditor/minWindth.js' %}"></script>
{% endblock %}