{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if is_edit %}
    Редактировать пост {{ post.text|striptags|truncatewords:10 }}
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">

    <h2>{% if is_edit %}Редактирование поста{% else %}Новый пост{% endif %}</h2>

    <form method="post" {% if is_edit %} action="{% url 'blog:post_edit' post.id %}" {% else %} action="{% url 'blog:post_create' %}" {% endif %} enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group row my-3 p-3">
        <label title="{{ form.text.help_text }}" for="id_text">
          Текст поста
          <span class="required text-danger">*</span>
        </label>
        {{ form.media }}
        {{ form.text }}
        <small id="id_text-help" class="form-text text-muted">
          Текст нового поста
        </small>
      </div>

      <div class="form-group row my-3 p-3">
        <label title="{{ form.tags.help_text }}" for="id_tags">
          Теги
        </label>
        {{ form.tags }}
        <small id="id_tags-help" class="form-text text-muted">
          Выбор тегов
        </small>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
          {% if is_edit %}Редактировать{% else %}Сохранить{% endif %}
        </button>
      </div>

    </form>

  </div>
  <script src="{% static 'js/ckeditor/minWindth.js' %}"></script>
{% endblock %}