{% extends 'base.html' %}
{% block title %}Пост {{ post.text|truncatechars:20 }}{% endblock %}
{% block content %}
    <div class="post-container bg-white card">
      <div class="row">
        <div class="col-12 col-md-3">
          {% if request.resolver_match.view_name != 'blog:profile' %}
            <b><a class="link-primary" href="{% url 'blog:profile' post.author.username %}">
              {{ post.author.get_full_name }}
            </a></b>
          {% else %}
            <b>{{ post.author.get_full_name }}</b>
          {% endif %}
        </div>
        <div class="col-12 col-md-9">
          <div class="d-flex justify-content-end">
            {% if post.pub_date == post.edit_date %}
              Создано: {{ post.pub_date|date:"d E Y H:m:s" }}
            {% else %}
              Изменено: {{ post.pub_date|date:"d E Y H:m:s" }}
            {% endif %}
          </div>
        </div>
      </div>
      <hr>
      <p>{{ post.text|safe }}</p>

        <!-- эта кнопка видна только автору -->
      {% if post.author == user %}
        <div class="d-flex justify-content-end">
          <a class="btn btn-danger mx-3" href="{% url 'blog:post_delete' post_id=post.id referer=referer %}">
            Удалить
          </a>
          <a class="btn btn-primary" href="{% url 'blog:post_edit' post.id %}">
            Редактировать
          </a>
        </div>
      {% endif %}

    </div>

{% endblock %}