{% extends 'base.html' %}
{% block title %}Пост {{ post.text|striptags|truncatewords:10 }}{% endblock %}
{% block content %}
  <div class="post-container bg-white card">
    {% include 'blog/includes/content/include/post_header.html' %}
    {% include 'blog/includes/content/include/post_body_full.html' %}

    <div class="row">
      {% include 'blog/includes/tag/show_tags_in_post.html' %}
      <div class="col-12 col-md-3">
        <div class="d-flex justify-content-end">

        <!-- эта кнопка видна только автору -->
          {% if post.author == user %}
            <div class="d-flex justify-content-end">
              <a class="btn btn-danger mx-3" href="{% url 'blog:post_delete' post_id=post.id referer=referer %}">
                Удалить
              </a>
              <a class="btn btn-primary" href="{% url 'blog:post_edit' post.id %}">
                Редактировать
              </a>
            </div>
          {% endif %}

          <br>
        </div>
      </div>
    </div>

  </div>
{% endblock %}