{% extends 'base.html' %}
{% block title %}Профиль пользователя {{ author.get_full_name }} {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12 col-md-9">
      <h2>Все посты пользователя: {{ author.get_full_name }} </h2>
    </div>
    <div class="col-12 col-md-3">
      <div class="d-flex justify-content-end">
        <h4>Всего постов: {{ count_posts }} </h4>
      </div>
    </div>
  </div>
  {% include 'blog/includes/tag/list_all_tags.html' %}
  {% for post in posts_paginator %}
    {% include 'blog/includes/content/content.html' %}
  {% endfor %}
  {% include 'blog/includes/paginator/paginator.html' %}
{% endblock %}